/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to bottom, blue, #679eff);
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.form {
    margin-top: -60px;
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 9px;
}

.form.weather {
    opacity: 0;
    pointer-events: none;
}

header {
    font-size: 28px;
    font-weight: 600;
    color: #679eff;
    text-align: center;
}

form {
    margin-top: 30px;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.weather-box {
    text-align: center;
    margin-top: 100px;
}

.main-right {
    margin-bottom: 50px;
    margin-left: 185px;
    
}

.description {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: -30px;
}
.imgWeather {
    height: 130px;
    width: 130px;
    top: 10px;
}

.weather-box .error-img {
    height: 140px;
    width: 140px;
    margin-top: 20px;
    margin-left: 185px;
}

.weather-box .error {
    position: relative;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 10px;
    margin-left: -16px;
}


.weather-box .message {
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}
.weather-box .weatherDataInfos {
    margin-top: -180px;
    margin-left: -190px;
    
}

.weather-box .now {
    position: relative;
    color: #ffffff;
    font-size: 17px;
    font-weight: 800;

}

.weather-box .dataTime {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 50px;
    text-transform: capitalize;
}

.weather-box .temperature {
    position: relative;
    color: #ffffff;
    font-size: 5rem;
    font-weight: 800;

}

.weatherDataInfosFooter {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    margin-top: 20px;
}

.weatherDataInfosFooter p {
    margin: 0;
    font-size: 14px;
    color: #ffffff;
}

.search-box {
    margin-top: -10px;
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box input {
    background-color: #ffffff;
    width: 80%;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
    border-radius: 17px;
}

.search-box input::placeholder {
    font-size: 15px;
    font-weight: 500;
    color: #021825;
    text-transform: capitalize;
}

.search-box button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: #ffffff;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.search-button img {
    height: 30px;
    width: 30px;
}

.search-box button:hover {
    color: #fff;
    background: #fdfdfd;
}

.separator {
    border: none;
    height: 1px;
    background-color: #fdfdfd;
    margin: 20px 0;
}
