/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dff6ff;
    column-gap: 30px;
}

.form {
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 9px;
    background: #c7c7c7;
}

.form.weather {
    opacity: 0;
    pointer-events: none;
}

header {
    font-size: 28px;
    font-weight: 600;
    color: #9DD9F3;
    text-align: center;
}

form {
    margin-top: 30px;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.weather-box {
    text-align: center;
}

.weather-box img {
    image-rendering: optimizeQuality;
    height: 250px;
    width: 250px;
    margin-top: 20px;
}

.weather-box .error {
    position: relative;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 10px;
    margin-left: -16px;
}


.weather-box .message {
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-box .description {
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-box .temperature {
    position: relative;
    color: #ffffff;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 10px;
    margin-left: -16px;
}

.search-box {
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box input {
    color: #06283D;
    width: 80%;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
    border-radius: 17px;
}

.search-box input::placeholder {
    font-size: 15px;
    font-weight: 500;
    color: #06283D;
    text-transform: capitalize;
}

.search-box button {
    display: flex;
    align-items: center;
    /* Alinha os itens verticalmente no centro */
    justify-content: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #06283D;
    background: #dff6ff;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.search-button img {
    height: 30px;
    width: 30px;
}

.search-box button:hover {
    color: #fff;
    background: #f5f5f5;
}